<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title><%-title %></title>

<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          
          
         <div style="width: 100%;">
          <div class="row mt-4" style="padding: 10px;">
            


            <div class="col-md-12" >
            
          <div class="inbox_chat" style="margin-left: 10%; margin-right: 10%;  border-radius: 10px; height: 600px; border: 1px solid gainsboro; background-color: rgb(238, 238, 238);">
            <div class="row" style="background: linear-gradient(to bottom, #fed700, #d6b600);
            width: 100%; height: 80px;  margin-left: 1px;">
                <div class="col-md-8">
                  <h2 class="mt-2" style=" padding: 15px; color: white; font-weight: bold; font-family: 'Open Sans', sans-serif;    font-size: 18px;"><i class="fas fa-envelope mr-2" aria-hidden="true"></i> GELEN KUTUSU</h2>
                </div>
                <div class="col-md-4 d-none d-lg-block">
                  <div class="input-group mt-2">
                    <input type="text" class="form-control" placeholder="Kullanıcıya göre arayın" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-white mt-1" type="button">Ara</button>
                    </div>
                  </div>

                </div>
               
            </div>

            <div class="col-md-12">
              <div class="row" style="background-color: rgb(238, 238, 238); border-bottom:1px solid #c4c4c4;">
                
                <div class="col-md-2" style="text-align: center; justify-content: center;  margin-top: 12px; margin-bottom: 5px; font-weight: bold;">
                 Avatar
                </div>
                <div class="col-md-2" style="text-align: center; justify-content: center; margin-top: 12px;margin-bottom: 5px; font-weight: bold;">
                  Dükkan Adı
                </div>
                <div class="col-md-4" style="text-align: center; justify-content: center; margin-top: 12px;margin-bottom: 5px; font-weight: bold;">
                  İçerik
                </div>
                <div class="col-md-2" style="text-align: center; justify-content: center; margin-top: 12px;margin-bottom: 5px; font-weight: bold;">
                  Tarih
                </div>
                <div class="col-md-2" style="text-align: center; justify-content: center;  margin-top: 12px; margin-bottom: 5px; font-weight: bold;">
                  
                </div>
              </div>
            </div>
            <% reversedArray.forEach(Product => { %>
              <a href="/messagePage?id=<%-Product.split('?:?:?')[1] %>">
              <% if (Product.split('?:?:?')[7] == "0") { %>
              <div class="col-md-12" >
                <div class="row" id="mesaj-satir">
                  
                  <div class="col-md-2" style="text-align: center; justify-content: center; margin-top: 12px;">
                    <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" width="30px">
                  </div>
                  <div class="col-md-2" style="text-align: center; justify-content: center; margin-top: 12px;">
                    <%-Product.split('?:?:?')[0] %> 
                  </div>
                  <div class="col-md-4" style="text-align: center; justify-content: center; margin-top: 12px;">
                    <%-Product.split('?:?:?')[2] %>
                  </div>
                  <div class="col-md-2" style="text-align: center; justify-content: center; margin-top: 12px;">
                    <%-Product.split('?:?:?')[4] %>
                  </div>
                  <div class="col-md-2" style="text-align: center; justify-content: center;">
                    <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: none;">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </div>
                
              </div>
              
              <% } else { %>
                <div class="col-md-12">
                  <div class="row" id="mesaj-satir-yeni">
                    <div class="col-md-2" style="text-align: center; justify-content: center; margin-top: 12px;">
                      <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" width="30px">
                    </div>
                    <div class="col-md-2" style=" text-align: center; justify-content: center; margin-top: 12px;">
                      <%-Product.split('?:?:?')[0] %> 
                    </div>
                    <div class="col-md-6" style="text-align: center; justify-content: center; margin-top: 12px;">
                      <%-Product.split('?:?:?')[2] %>
                    </div>
                    <div class="col-md-2" style="text-align: center; justify-content: center; margin-top: 12px;">
                      <%-Product.split('?:?:?')[4] %>
                    </div>
                  </div>
                </div>
                <% } %>
            </a>
            <% }) %>
           
           

            
            </div>

            

          </div>


         



        </div>
        </div>
          
        </div>
        
      </div>
      
      
     
    </div></div>
    
    

    <style>
      #mesaj-satir{
        background-color:#dcdcdc; 
        padding: 10px; 
        color:#464646;

      }

      #mesaj-satir:hover{
        background-color: #e0e0e0;
      }
      #mesaj-satir-yeni{
        background-color:#dcdcdc; 
        padding: 10px; 
        color:#1123ab; 
        font-weight: bold;
      }
      #mesaj-satir-yeni:hover{
        background-color: #e0e0e0;
      }



  #section-message:hover{
    background-color: #e0e0e0;
  }
  
  h1 {
  font-size: clamp(3rem, 15vmin, 8rem);
  font-family: sans-serif;
  color: hsl(0, 0%, 0%);
}

.underlined {
/*   background: red; */
  position: relative;
}

.underline-mask:after {
  content: '';
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(280 80% 50%);
  /* Use a conic gradient mask to hide and show the bits you want */
  --spread: 140deg;
  --start: 290deg;
  mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
}


.underline-overflow {
  display: inline-block;
  /* A little extra padding and overflow hidden   */
  overflow: hidden;
  padding-bottom: clamp(1rem, 2vmin, 2rem);
}
.underline-overflow:after {
  content: '';
  position: absolute;
  top: 100%;
  height: 150%;
  aspect-ratio: 2.5 / 1;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 50%;
  border: 6px solid hsl(10 80% 50%);
}

.underline-clip:after {
  content: '';
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsl(59, 100%, 47%);
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}


img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 100%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {text-align: center; padding: 1%;}
.srch_bar {
  display: inline-block;
  text-align: center;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 3%;
}
.chat_ib {
  
  float: left;
  padding: 0 0 15px 15px;
  width: 58%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 650px; overflow-y: scroll; overflow: hidden;}

.active_chat{ background:#ffffff;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 30px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 576px){
  .modal{
    top: 100px;
  }
}

.modal-content {
    background: rgb(255,255,255);
    background: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box select {
  background-color: #fed700;
  color: white;
  padding: 12px;
  width: 150px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}



.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #fed700;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #969b08;
}

/* Add a background color and some padding around the form */
.containerz {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


</style>

<script>

    // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var kapa = document.getElementsByClassName("closez")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
kapa.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}


</script>