




<div class="js-slide slick-carousel " >
      <div class="row pt-12 py-md-0 ">
          <div class="d-none d-wd-block offset-1"></div>
          <div class="col-xl col col-md-6 mt-md-8 mt-lg-10"  >
              <div class="ml-xl-4 ">
                  <h6 class="font-size-15 font-weight-bold mb-2 text-cyan "
                      data-scs-animation-in="fadeInUp">
                      <%-Product.bannerustyazi %>
                  </h6>
                  <h1 class="font-size-46 text-lh-50 font-weight-light mb-8 marginbanner" style="z-index: 2; "
                      data-scs-animation-in="fadeInUp"
                      data-scs-animation-delay="200">
                      <%-Product.banneryazi %>
                  </h1>
                  
                  <a  href="/urunler/<%- Product.product_url %>" class="btn btn-primary transition-3d-hover rounded-lg font-weight-normal  px-md-7 px-3 font-size-16 button-yeri marginbanner"
                      data-scs-animation-in="fadeInUp"
                      data-scs-animation-delay="300">
                      Ürüne Git
                  </a>
              </div>
          </div>
          <div class="col-xl-7  d-flex align-items-end ml-md-0"
              data-scs-animation-in="fadeInRight"
              data-scs-animation-delay="500">
              <img class="img-fluid-25 ml-auto mr-10 mr-wd-auto foto-yeri fotodenemek marginphoto" width="300" height="200" src="/uploads/images/<%-Product.product_category3.trim() %>/<%- Product.bannerfoto %>" alt="Image Description">
              
          </div>
        
      </div>
  </div>

