                            <div id="sliderSyncingNav" class="js-slick-carousel u-slick mb-2"
                                data-infinite="true"
                                data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
                                data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
                                data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4"
                                data-nav-for="#sliderSyncingThumb">
                                <% if (Product.product_photo.length >0) { %>
                                    <div class="js-slide">
                                        <img class="img-fluid-25" style="max-height: 300px; object-fit: cover; display: block; margin: 0 auto;"  src="/uploads/images/<%-Product.product_category3.trim() %>/<%- Product.product_photo[0] %> " alt="Image Description">
                                    </div>
                                <% } %>
                                <% if (Product.product_photo.length >1) { %>
                                    <div class="js-slide">
                                        <img class="img-fluid-25 "style="max-height: 300px; object-fit: cover; display: block; margin: 0 auto;" src="/uploads/images/<%-Product.product_category3.trim() %>/<%- Product.product_photo[1] %> " alt="Image Description">
                                    </div>
                                <% } %>
                                <% if (Product.product_photo.length >2) { %>
                                    <div class="js-slide">
                                        <img class="img-fluid-25" style="max-height: 300px; object-fit: cover; display: block; margin: 0 auto;" src="/uploads/images/<%-Product.product_category3.trim() %>/<%- Product.product_photo[2] %> " alt="Image Description">
                                    </div>
                                <% } %>
                                <% if (Product.product_photo.length >3) { %>
                                    <div class="js-slide">
                                        <img class="img-fluid-25" style="max-height: 300px; object-fit: cover; display: block; margin: 0 auto;" src="/uploads/images/<%-Product.product_category3.trim() %>/<%- Product.product_photo[3] %> " alt="Image Description">
                                    </div>
                                <% } %>
                                <% if (Product.product_photo.length >4) { %>
                                    <div class="js-slide">
                                        <img class="img-fluid-25" style="max-height: 300px; object-fit: cover; display: block; margin: 0 auto;" src="/uploads/images/<%-Product.product_category3.trim() %>/<%- Product.product_photo[4] %> " alt="Image Description">
                                    </div>
                                <% } %>
                                
                            </div>
                            

                            <div id="sliderSyncingThumb" class="js-slick-carousel u-slick u-slick--slider-syncing u-slick--slider-syncing-size u-slick--gutters-1 u-slick--transform-off"
                                data-infinite="true"
                                data-slides-show="5"
                                data-is-thumbs="true"
                                data-nav-for="#sliderSyncingNav">
                                <% if (Product.product_photo.length >0) { %>
                                    <div class="js-slide" style="cursor: pointer;">
                                        <img class="img-fluid-25" style="height: 44px; object-fit: cover; display: block; margin: 0 auto;" src="/uploads/images/<%-Product.product_category3.trim() %>/<%- Product.product_photo[0] %> " alt="Image Description">
                                    </div>
                                <% } %>
                                <% if (Product.product_photo.length >1) { %>
                                    <div class="js-slide" style="cursor: pointer;">
                                        <img class="img-fluid-25" style="max-height: 44px; object-fit: cover; display: block; margin: 0 auto;" src="/uploads/images/<%-Product.product_category3.trim() %>/<%- Product.product_photo[1] %> " alt="Image Description">
                                    </div>
                                <% } %>
                                <% if (Product.product_photo.length >2) { %>
                                    <div class="js-slide" style="cursor: pointer;">
                                        <img class="img-fluid-25" style="height: 44px; object-fit: cover; display: block; margin: 0 auto;" src="/uploads/images/<%-Product.product_category3.trim() %>/<%- Product.product_photo[2] %> " alt="Image Description">
                                    </div>
                                <% } %>
                                <% if (Product.product_photo.length >3) { %>
                                    <div class="js-slide" style="cursor: pointer;">
                                        <img class="img-fluid-25" style="height: 44px; object-fit: cover; display: block; margin: 0 auto;" src="/uploads/images/<%-Product.product_category3.trim() %>/<%- Product.product_photo[3] %> " alt="Image Description">
                                    </div>
                                <% } %>
                                <% if (Product.product_photo.length >4) { %>
                                    <div class="js-slide" style="cursor: pointer;">
                                        <img class="img-fluid-25" style="height: 44px; object-fit: cover; display: block; margin: 0 auto;" src="/uploads/images/<%-Product.product_category3.trim() %>/<%- Product.product_photo[4] %> " alt="Image Description">
                                    </div>
                                <% } %>
                                
                            </div>