<ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
    <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="/">Anasayfa</a></li>
    <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="/kategori/<%-Product.product_category2 %>"><%-Product.product_category2 %></a></li>
    <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="/kategoriler/<%-Product.product_category3 %>"><%-Product.product_category3 %></a></li>
    <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page"><%-Product.product_name %> </li>
</ol>