<form action="/yapxadminlogin/<%-Product.product_url %> " method="post">
    <tr>
        <td><%-Product.createdAt %> </td>
        <td><%-Product.product_url  %> </td>
        <td><%-Product.product_name  %></td>
        <td class=""><%-Product.product_category2  %></td>
        <td class=""><%-Product.product_category3  %></td>
        <td class=""><%-Product.urunuekleyen  %></td>
        <td class=""><%-  %> <a href="localhost:8080">Ürün Detayı için tıklayın <i class="zmdi zmdi-search"></i></a> </td>
        <th class=""><button type="submit" class="btn btn-danger">Sil</button></th>
    </tr>
</form>
<script>
    
</script>