<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="/admin/css/font-face.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/admin/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">

                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="/yapxadminlogin/charts">
                                <i class="fas fa-chart-bar"></i>Yönetim</a>
                        </li>
                        <li>
                            <a href="/yapxadminlogin/tables">
                                <i class="fas fa-table"></i>Tablo</a>
                        </li>                       
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <img height="80" width="80" src="/general/img/yapxlogom-min.jpg" alt="" >
                <a href="/yapxadminlogin" style="color: #666;  margin-left: 20px;">
                    <h5 style="color: #666; font-weight: normal;">Yönetim Paneli</h5>
                    <!--logo fotosu gelcek-->
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="/yapxadminlogin/urunekle">
                                <i class="fas fa-plus"></i>Ürün Ekleme</a>
                        </li>
                        <li>
                            <a href="/yapxadminlogin/adminEkle">
                                <i class="fas fa-plus"></i>Admin Ekle</a>
                        </li>
                        <li>
                            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fas fa-users"></i>Kullanıcı İşlemleri  <i class="fas fa-angle-down" style="margin-left: 5px;"> </i></a>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                      <a href="/yapxadminlogin/tables/1">Bireysel Kullanıcılar</a>
                                      <a href="/yapxadminlogin/tables/4">Kurumsal Kullanıcılar</a>
                                      <a href="/yapxadminlogin/tables/2">Bireysel Dükkanlar</a>
                                      <a href="/yapxadminlogin/tables/3">Kurumsal Dükkanlar</a>
                                      <a href="/yapxadminlogin/tables/">Adminler</a>
                                      <a href="/yapxadminlogin/tables/5">Meslekler</a>
                                    </div>
                                  </div>
                        </li>
                        <li>
                            <a href="/yapxadminlogin/tablesurun">
                            <i class="fas fa-database"></i>Ürün İşlemleri</a>
                        </li>
                        <li>
                            <a href="/yapxadminlogin/trafik">
                                <i class="fas fa-area-chart"></i>Site Trafik Verileri</a>
                        </li>

                        <li>
                            <a href="/yapxadminlogin/panelmesajlar">
                                <i class="fas fa-comments"></i>Gelen Mesajlar</a>
                        </li>
                       
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                
                            </form>
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">

                                             <!-- loggeduser.img tarzı yap linki ekle -->
                                            <img src="/uploads/images/adminPhotos/<%-LoggedUser[0].Admin_Photo %>" class="rounded-circle" style="width: 150px;"
                                         alt="Avatar" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#"><%-LoggedUser[0].isim %></a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <!-- loggeduser.img tarzı yap linki ekle -->
                                                    <img src="/uploads/images/adminPhotos/<%-LoggedUser[0].Admin_Photo %>" class="rounded-circle" style="width: 150px;"
                                                    alt="Avatar" />
                                                    <a href="#">
                                                       
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#"><%-LoggedUser[0].isim %></a>
                                                    </h5>
                                                    <span class="email"><%-LoggedUser[0].email %></span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="/yapxadminlogin/islemkullanici">
                                                        <i class="zmdi zmdi-settings"></i>Bilgiler ve Ayarlar</a>
                                                </div>
                                                
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power" style="color: red;"></i>Çıkış Yap</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

<%- body %> 


    <!-- Jquery JS-->
    <script src="/admin/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/admin/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/admin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/admin/vendor/slick/slick.min.js">
    </script>
    <script src="/admin/vendor/wow/wow.min.js"></script>
    <script src="/admin/vendor/animsition/animsition.min.js"></script>
    <script src="/admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/admin/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/admin/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/admin/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/admin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/admin/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/admin/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="/admin/js/main.js"></script>

</body>

</html>
<!-- end document-->


<script>
   


</script>